extends _layout/page

prepend variables
    - var title = "lolprogres";

append main
    #app
        .user-control
            //- button(v-on:click="getSummoners") get users
            select( id="" data-selector v-model='usersModel' @change="getSummonerData")
                option( v-for="option in users" v-bind:value="option.value" ) {{ option.text }}
            button(v-on:click="updateSummonerData") update user
            p {{ usersModel }}
            button(v-on:click="getSummonerData") get user data
            select( id="" data-selector v-model='filterRole' @change="renderCharts" v-show="summonerDataLoaded")
                option( value="ALL") All
                option( value="TOP" ) Top
                option( value="JUNGLE" ) Jungle
                option( value="MID" ) Mid
                option( value="CARRY" ) Carry
                option( value="SUPPORT" ) Support
        .user-stats
            .row
                .col-sm-6
                    .user-stats__chart-container
                        #gametime.data-chart
                .col-sm-6
                    .user-stats__chart-container
                        #gameswon.data-chart
                .col-sm-6
                    .user-stats__chart-container
                        #wards-per-min.data-chart
                .col-sm-6
                    .user-stats__chart-container
                        #CS.data-chart
                .col-sm-6
                    .user-stats__chart-container
                        #GOLD.data-chart
                .col-sm-6
                    .user-stats__chart-container
                        #KDA.data-chart
                .col-sm-6
                    .user-stats__chart-container
                        #kill-pressence.data-chart


        h2 Last match data
        p
            | {{ matchesData[matchesData.length-1] }}
