<div class="row">
    <div class="col-sm-12">
        <h1>Tank itemizer tool</h1>
        <h2>Choose your champion</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <select [(ngModel)]="champIdForEffectiveHealth" (change)="calculateEffectiveHealth()">
                            <option
                                *ngFor="let champion of champions" value="{{champion.id}}"
                            >
                                {{champion.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-12">
                        Level:
                        <input type="number" min="1" max="18" [(ngModel)]="championLevel"
                               (change)="calculateEffectiveHealth()">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Base health:</div>
                            <div class="col-sm-6">{{baseHp}} hp</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Base armour:</div>
                            <div class="col-sm-6">{{baseArmour}}</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Base magic resist:</div>
                            <div class="col-sm-6">{{baseMagicResist}}</div>
                        </div>
                    </div>
                    <div class="col-sm-12"><br></div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Effective health (Physical):</div>
                            <div class="col-sm-6">{{effectiveArmourHealth}} hp</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Effective health (Magic):</div>
                            <div class="col-sm-6">{{effectiveMagicHealth}} hp</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Effective health (Mixed)*:</div>
                            <div class="col-sm-6">{{effectiveMixedHealth}} hp</div>
                        </div>
                    </div>
                    <small class="col-sm-12">
                        <br>
                        * Note that mixed damage is just an estimation based on the predicted damage output from a team.
                        Results may vary ingame!
                    </small>
                </div>
            </div>
        </div>


    </div>
    <div class="col-sm-12">
        <button (click)="calculateEffectiveHealth()">Calculate effective health</button>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h3>All available tank items: </h3>
                    <div class="row">
                        <div class="col-sm-12">
                            sort by:
                            <select [(ngModel)]="orderedBy">
                                <option value="armor">Armor</option>
                                <option value="magic">Magic</option>
                                <option value="mixed">Mixed</option>
                                <option value="gold">Gold</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let item of formattedItems | orderBy : orderedBy">
                    <div class="col-sm-12" *ngIf="orderedBy=='armor'"><button class="button ___equip" (click)="equipItem(item.data)">+</button>{{item.name}} <span>({{item.effHpArmor}}hp)</span></div>
                    <div class="col-sm-12" *ngIf="orderedBy=='magic'"><button class="button ___equip" (click)="equipItem(item.data)">+</button>{{item.name}} <span>({{item.effHpMagic}}hp)</span></div>
                    <div class="col-sm-12" *ngIf="orderedBy=='mixed'"><button class="button ___equip" (click)="equipItem(item.data)">+</button>{{item.name}} <span>({{item.effHpMixed}}hp)</span></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h3>Equipped items</h3>
                    <div *ngFor="let item of equippedItems; let i = index;"><button class="button ___equip" (click)="unequipItem(i)">x</button>{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
