<div class="user-stats">
    <div class="row">
        <div class="col-sm-12">
            <select  [(ngModel)]="selectedSummoner">
                <option selected value="0">Choose an summoner</option>
                <option
                    *ngFor="let summoner of summoners" value="{{summoner.id}}"
                >
                    {{summoner.name}}
                </option>
            </select>
            <button (click)="getLiveData($event)">get live data</button>
            <span [hidden]="isSummonerIngame">Summoner is not ingame</span>
        </div>
        <div class="col-sm-4">
            <h2>Blue</h2>
            <div class="row">
                <div class="col-sm-4">
                    Top
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,0)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[0][0].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Jungle
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,1)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[0][1].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Mid
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,2)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[0][2].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    ADC
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,3)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[0][3].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Support
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,4)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[0][4].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2>Red</h2>
            <div class="row">
                <div class="col-sm-4">
                    Top
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,0,1)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[1][0].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Jungle
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,1,1)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[1][1].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Mid
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,2,1)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[1][2].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    ADC
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,3,1)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[1][3].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Support
                </div>
                <div class="col-sm-8">
                    <select (change)="setChampionInTeam($event.target.value,4,1)">
                        <option
                            *ngFor="let champion of champions" value="{{champion.id}}"
                            [selected]="champion.id == teamdata[1][4].selectedChamp"
                        >
                            {{champion.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div>
                <!--<button (click)="analyseTeamcomp($event)">analyze</button>-->
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <button (click)="analyseTeamcomp($event)">analyze</button>
            </div>
        </div>
        <div class="col-sm-6">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Team analysis</h2>
                </div>
                <div class="col-sm-12">
                    {{ analysisBlue.damage }}
                </div>
                <div class="col-sm-12">
                    {{ analysisBlue.defence }}
                </div>
                <div class="col-sm-12">
                    {{ analysisBlue.crowdControl }}
                </div>
                <div class="col-sm-12">
                    {{ analysisBlue.healing }}
                </div>
                <div class="col-sm-12">
                    {{ analysisBlue.shields }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Team analysis</h2>
                </div>
                <div class="col-sm-12">
                    {{ analysisRed.damage }}
                </div>
                <div class="col-sm-12">
                    {{ analysisRed.defence }}
                </div>
                <div class="col-sm-12">
                    {{ analysisRed.crowdControl }}
                </div>
                <div class="col-sm-12">
                    {{ analysisRed.healing }}
                </div>
                <div class="col-sm-12">
                    {{ analysisRed.shields }}
                </div>
            </div>
        </div>
    </div>
</div>

