<br>
<div class="row">
    <div class="col-sm-12">
        <h2>You</h2>
        <select>
            <option
                *ngFor="let champion of champions" value="{{champion.id}}"
                [selected]="champion.name === 'Thresh'"
            >
                {{champion.name}}
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h2>Enemy</h2>
        <form [formGroup]="formEnemy">
            <div class="" *ngFor="let lane of lanes">
                <div>{{lane.lane}}</div>
                <select (change)="setChampionInTeam($event,lane)">
                    <option
                        *ngFor="let champion of champions" value="{{champion.id}}"
                    >
                        {{champion.name}}
                    </option>
                </select>
            </div>
            <div>
                <button (click)="analyseTeamcomp($event)">analyze</button>
            </div>
        </form>
    </div>
</div>
