button {
    border: none;
    background-color: @color-primary;
    color: white;
    border-radius: .3rem;
    height: 4.6rem;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;

    &:hover {
        background-color: @color-hover;
        color: white;
    }
}


select {
    border: none;
    background: @color-primary;
    color: white;
    border-radius: 0;
    height: 4.6rem;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
