button {
    border: none;
    background-color: @color-primary;
    color: white;
    border-radius: .3rem;
    height: 4.6rem;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    position: relative;

    &:hover {
        background: rgba(0,0,0,.6);
        color: white;
    }
    &.___small {
        height: 3rem;
        padding: 0 .75rem;
    }

    &.___update {
        .icon('update');
        padding-left: 3.5rem;
        &:before {
            font-size: 1.5rem;
            position: absolute;
            left: 1rem;
            top: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        transition-property: transform;
        transition-duration: 1s;
        &.___updating::before {
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &.___updating {
            cursor: default;
        }
    }
    &.___error {
        cursor: default !important;
        background-color:  #cc0000 !important;
    }
}

.button-loaddata{
    .icon('download');

    &:before {
        font-size: 1.5rem;
    }

    transition-property: transform;
    transition-duration: 1s;
    &.___updating::before {
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &.___updating {
        cursor: default;
    }
}
.button-update {
    .icon('update');

    &:before {
        font-size: 1.5rem;
    }

    transition-property: transform;
    transition-duration: 1s;
    &.___updating::before {
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &.___updating {
        cursor: default;
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

select {
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 0;
    height: 4.6rem;
    padding: 0 3rem 0 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
    appearance: none;
    outline:none;

    &:hover{
        background: rgba(0,0,0,.6);
    }

    &.___small {
        padding: 0 0rem 0 1rem;
    }
}

option {
    border: none;
}
